# Firebase
FIREBASE_API_KEY=AIzaSyDOa8ixEA3SxuojbY5Q0WO8lzp7Qv9E8Y0
FIREBASE_AUTH_DOMAIN=gymas-5c778.firebaseapp.com
FIREBASE_PROJECT_ID=gymas-5c778
FIREBASE_STORAGE_BUCKET=gymas-5c778.appspot.com
FIREBASE_MESSAGING_SENDER_ID=576506640256
FIREBASE_APP_ID=1:576506640256:web:c32d765e2b24cb7ea0b365
FIREBASE_MEASUREMENT_ID=G-9MYCGWTPJD
