{
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": ["^react$", "^@chakra-ui/(.*)$", "^react-icons/(.*)$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
